// ヘッダー
.header-nav {
  display: none;
}
.header {
    background-image: url('images/SP-TOP/hero@2x.jpg');
    background-size: cover;
    height: 812px;
  
      .header-top {
          color: white;
          display: block;
          width: 130px;
          font-size: 18px;
          font-weight: bold;
          padding: 20px 0 0 15px;
          text-decoration: none;
      }
  
      .header-top:hover {
        opacity: 0.8;
      }
  
      .header-active {
          display: none;
      }    
  
      .header-img-active {
        display: none;
      }
  
      .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background: #fff;
      }
  
      // ハンバーガーメニュー
    .drawer {
    .drawer-hidden {
      display: none;
    }
  
    /* ハンバーガーアイコンの設置スペース */
    .drawer-open {
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0px;
      right: 20px;
      z-index: 100;/* 重なり順を一番上に */
      cursor: pointer;
    }
    
    /* ハンバーガーメニューのアイコン */
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
      content: '';
      display: block;
      height: 2px;
      width: 30px;
      border-radius: 3px;
      background: white;
      transition: 0.5s;
      position: absolute;
    }

    @media (min-width: 1025px) {
      .drawer-content {
        display: none;
      }
      .drawer-open {
        display: none;
      }
    }
    
    /* 三本線のうち一番上の棒の位置調整 */
    .drawer-open span:before {
      bottom: 8px;
    }
    
    /* 三本線のうち一番下の棒の位置調整 */
    .drawer-open span:after {
      top: 8px;
    }
    
    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer-check:checked ~ .drawer-open span {
      background: rgba(255, 255, 255, 0);
    }
    
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer-check:checked ~ .drawer-open span::before {
      bottom: 0;
      transform: rotate(45deg);
    }
    
    #drawer-check:checked ~ .drawer-open span::after {
      top: 0;
      transform: rotate(-45deg);
    }
      
    /* メニューのデザイン*/
    .drawer-content {
      width: 72.47%;
      position: fixed;
      top: 0;
      left: 100%;/* メニューを画面の外に飛ばす */
      z-index: 99;
      transition: .5s;
      height: 812px;
      background-image: url(/images/SP-TOP/backimg-menu@2x.png);
      background-size: 120%;
  
          .drawer-list {
            width: 100%;
              position: absolute;
              top: 30%;
              line-height: 2.5em;
              text-align: center;
          }
          .drawer-item:hover {
            text-decoration: underline;
          }
          a {
              text-decoration: none;
              color: white;
              font-weight: bold;
              font-size: 14px;
          }
    }
    
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer-check:checked ~ .drawer-content {
      left: 0;/* メニューを画面に入れる */
    }
      }
  
  
  }
  
// ヘッダー(スクロール)
.header-scroll {
  display: none;
  width: 72.48%;
  height: 62px;
  background-color: #21054D;
  position: absolute;
  position: fixed;
  top: 0;
  z-index: 200;
  a {
    display: block;
    font-size: 18px;
    color: white;
    margin: 21px 0 0 15px;
    font-weight: bold;
    text-decoration: none;
  }
  a:hover {
    opacity: 0.8;
  }
  .drawer {
    .drawer-hidden {
      display: none;
    }
  
    /* ハンバーガーアイコンの設置スペース */
    .drawer-open {
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0px;
      right: 20px;
      z-index: 100;/* 重なり順を一番上に */
      cursor: pointer;
    }
    
    /* ハンバーガーメニューのアイコン */
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
      content: '';
      display: block;
      height: 2px;
      width: 30px;
      border-radius: 3px;
      background: white;
      transition: 0.5s;
      position: absolute;
    }

    /* 三本線のうち一番上の棒の位置調整 */
    .drawer-open span:before {
      bottom: 8px;
    }
    
    /* 三本線のうち一番下の棒の位置調整 */
    .drawer-open span:after {
      top: 8px;
    }
    
    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer-check:checked ~ .drawer-open span {
      background: rgba(255, 255, 255, 0);
    }
    
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer-check:checked ~ .drawer-open span::before {
      bottom: 0;
      transform: rotate(45deg);
    }
    
    #drawer-check:checked ~ .drawer-open span::after {
      top: 0;
      transform: rotate(-45deg);
    }
      
    /* メニューのデザイン*/
    .drawer-content {
      width: 72.47%;
      position: fixed;
      top: 0;
      left: 100%;/* メニューを画面の外に飛ばす */
      z-index: 99;
      transition: .5s;
      height: 812px;
      background-image: url(/images/SP-TOP/backimg-menu@2x.png);
      background-size: 120%;
  
          .drawer-list {
            width: 100%;
              position: absolute;
              top: 30%;
              line-height: 2.5em;
              text-align: center;
          }
          .drawer-item:hover {
            text-decoration: underline;
          }
          a {
              text-decoration: none;
              color: white;
              font-weight: bold;
              font-size: 14px;
          }
    } 
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer-check:checked ~ .drawer-content {
      left: 0;/* メニューを画面に入れる */
    }  
  }
}
.header-fixed {
  display: block;
}


// トップセクション
  .title {
      max-width: 290px;
      width: 80%;
      height: 600px;
      margin: 0 auto;

        .title-tx {
        font-size: 46px;
        color: white; 
        line-height: 1.5em;
        font-weight: bold;
        padding: 175px 0 20px 0;
        }
    
        .title-lead {
        font-size: 16px;
        color: white;
        line-height: 2em;
        margin-bottom: 47px;
        }
    
        .btn-contact {
        max-width: 71px;
        color: white;
        font-size: 15px;
        border: solid 1px white;
        border-radius: 2em;
        padding: 20px 70px;
        }
    
        .btn-contact:hover {
        opacity: 0.8;
        }
    
        .scroll {
        font-size: 12px;
        color: white;
        position: absolute;
        top: 700px;
        right: 0;
        transform: rotate(90deg);
        letter-spacing: 0.2em;
        }
    
        .border {
        width: 60px;
        border: solid 1px white;
        position: absolute;
        top: 5px;
        bottom: 30px;
        left: 74px;
        }
  }
  
// 見出し
.heading {
  text-align: center;
  .heading-title {
    font-size: 30px;
    color: #391E88;
    padding-top: 40px;
    font-weight: bold;
  }
  .heading-lead {
    color: #391E88;
    font-size: 13px;
    margin: 8px 0 28px 0;
  }
}

// NEWS
.item-list{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 35px;
  .item-time {
    width: 210px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    letter-spacing: 1.5px;
    span {
      padding: 0 12px;
    }
  }
  .item-deta {
    font-size: 11px;
    background-color: #E8E8E8;
    padding: 4px 21px;
    border-radius: 10em;
  }
  .item-note {
    font-size: 14px;
    line-height: 2em;
  }
}

// SERVICE
.service-section {
  .service1, .service2, .service3 {
    width: 90%;
  }
  .heading-tx {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 10px 0;
  }
  p {
    margin: 0 auto;
    width: 90%;
    font-size: 14px;
    text-align: start;
    line-height: 1.5em;
    padding-bottom: 60px;
  }
}

// スライダー
.slider {
  padding-top: 60px;
  margin: 0 auto;
  z-index: 50;
  .img-slide {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .slick-dots {
    position: absolute;
    right: -38%;
  }
  & li {
    margin: 0;
  }
}

// MOREボタン
@mixin more-btn {
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #7633A4, #250D65);
  padding: 21px 75px;
  border-radius: 10em;
  font-weight: bold;
  display: block;
  width: 50px;
  margin: 25px auto;
}

// WORKS
.works-section {
  background-color: #F0F0F0;
  height: 430px;
  position: relative;
  top: -130px;
  margin-bottom: -130px;
  .heading {
    padding-top: 116px;
  }
  .heading-note {
    font-size: 14px;
    line-height: 1.8em;
  }
  .works-more {
    @include more-btn;
  }
  .works-more:hover {
    opacity: 0.9;
  }
  .works-more:active {
    position: relative;
    top: 3px;
  }
}

// COMPANY
.company-section {
  background-image: url(/images/SP-TOP/cirlcles@2x.jpg);
  .heading-title {
    margin-top: 40px;
  }
  .catch-copy {
    font-size: 32px;
    line-height: 1.8em;
    text-decoration: underline 8px;
    text-underline-offset: -5px;
    text-decoration-color: yellow;
  }
  .heading-note {
    margin-top: 39px;
    font-size: 14px;
    line-height: 1.8em;
  }
  .company-more {
    @include more-btn;
  }
  .company-more:hover {
    opacity: 0.9;
  }
  .company-more:active {
    position: relative;
    top: 3px;
  }
  .img {
    width: 100%;
    height: 2%;
    margin-top: 100px;
  }
}

// RECRUIT
.recruit-section {
  background-color: #F7F7F7;
  height: 300px;
  margin-bottom: 80px;
  .heading-title {
    padding-top: 60px;
  }
  .recruit-more {
    @include more-btn;
  }
  .recruit-more:hover {
    opacity: 0.9;
  }
  .recruit-more:active {
    position: relative;
    top: 3px;
  }
}

// CONTACT
.contact-section {
  background-color: #F7F7F7;
  height: 334px;
  .heading-title {
    padding-top: 60px;
  }
  .heading-note {
    font-size: 14px;
    line-height: 1.8em;
  }
  .contact-more {
    @include more-btn;
  }
  .contact-more:hover {
    opacity: 0.9;
  }
  .contact-more:active {
    position: relative;
    top: 3px;
  }
}

// フッター
.footer {
  background-color: #120E19;
  height: 183px;
  text-align: center;
  .footer-list1 {
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 60px 0 20px 0;
  }
  .footer-item:hover {
    text-decoration: underline;
  }
  .footer-list2 {
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  small {
    color: #A798B7;
    font-size: 10px;
  }
}

// レスポンシブ(PC)
@media (min-width: 1025px) {
  .header-nav {
    display: block;
    .nav-list {
      width: 45%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      font-size: 15px;
      top: 20px;
      right: 30px;
    }
    .nav-item:hover {
      border-bottom: 1px solid white;
      padding-bottom: 5px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}
