@charset "UTF-8";
.header-nav {
  display: none;
}

.header {
  background-image: url("/images/SP-TOP/hero@2x.jpg");
  background-size: cover;
  height: 190px;
}

.header .header-top {
  color: white;
  display: block;
  width: 130px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0 0 15px;
  text-decoration: none;
}

.header .header-top:hover {
  opacity: 0.8;
}

.header .header-active {
  display: none;
}

.header .header-img-active {
  display: none;
}

.header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  background: #fff;
}

.header .drawer {
  /* ハンバーガーアイコンの設置スペース */
  /* ハンバーガーメニューのアイコン */
  /* 三本線のうち一番上の棒の位置調整 */
  /* 三本線のうち一番下の棒の位置調整 */
  /* アイコンがクリックされたら真ん中の線を透明にする */
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  /* メニューのデザイン*/
  /* アイコンがクリックされたらメニューを表示 */
}

.header .drawer .drawer-hidden {
  display: none;
}

.header .drawer .drawer-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 100;
  /* 重なり順を一番上に */
  cursor: pointer;
}

.header .drawer .drawer-open span,
.header .drawer .drawer-open span:before,
.header .drawer .drawer-open span:after {
  content: '';
  display: block;
  height: 2px;
  width: 30px;
  border-radius: 3px;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
}

@media (min-width: 1025px) {
  .header .drawer .drawer-content {
    display: none;
  }
  .header .drawer .drawer-open {
    display: none;
  }
}

.header .drawer .drawer-open span:before {
  bottom: 8px;
}

.header .drawer .drawer-open span:after {
  top: 8px;
}

.header .drawer #drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

.header .drawer #drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .drawer #drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .drawer .drawer-content {
  width: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /* メニューを画面の外に飛ばす */
  z-index: 99;
  -webkit-transition: .5s;
  transition: .5s;
  height: 812px;
  background-image: url(/images/SP-TOP/backimg-menu@2x.png);
  background-size: 120%;
}

.header .drawer .drawer-content .drawer-list {
  width: 100%;
  position: absolute;
  top: 30%;
  line-height: 2.5em;
  text-align: center;
}

.header .drawer .drawer-content .drawer-item:hover {
  text-decoration: underline;
}

.header .drawer .drawer-content a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.header .drawer #drawer-check:checked ~ .drawer-content {
  left: 0;
  /* メニューを画面に入れる */
}

.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.title {
  max-width: 290px;
  width: 80%;
  height: 152px;
  margin: 0 auto;
  text-align: center;
}

.title .title-tx {
  font-size: 30px;
  color: white;
  line-height: 1.5em;
  font-weight: bold;
  padding-top: 45px;
}

.title .title-lead {
  font-size: 13px;
  line-height: 2em;
  margin: 0 auto;
  max-width: 150px;
  color: white;
}

.title .btn-contact {
  max-width: 71px;
  color: white;
  font-size: 15px;
  border: solid 1px white;
  border-radius: 2em;
  padding: 20px 70px;
}

.title .btn-contact a {
  text-decoration: none;
  color: white;
}

.title .btn-contact:hover {
  opacity: 0.8;
}

.title .scroll {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 700px;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  letter-spacing: 0.2em;
}

.title .border {
  width: 60px;
  border: solid 1px white;
  position: absolute;
  top: 5px;
  bottom: 30px;
  left: 74px;
}

.heading {
  text-align: center;
}

.heading .heading-title {
  font-size: 30px;
  color: #391E88;
  padding-top: 40px;
  font-weight: bold;
}

.heading .heading-lead {
  color: #391E88;
  font-size: 13px;
  margin: 8px 0 28px 0;
}

.site-nav {
  height: 25px;
  line-height: 2.5em;
  background-color: #F7F7F7;
  padding-left: 20px;
  font-size: 11px;
}

.site-nav a {
  text-decoration: none;
  color: black;
}

.site-nav span {
  color: #391E88;
}

.slider {
  padding-top: 60px;
  margin: 0 auto;
  z-index: 50;
}

.slider .img-slide {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.slider .slick-dots {
  position: absolute;
  right: -38%;
}

.slider li {
  margin: 0;
}

.slider .slick-prev, .slider .slick-prev:before, .slider .slick-next:before {
  display: none;
}

.company-section .company-container1 {
  display: none;
}

.company-section .company-container2 {
  background-image: url(/images/SP-TOP/cirlcles@2x.jpg);
}

.company-section .company-container3 {
  display: none;
}

.company-section .heading-title {
  font-size: 24px;
  margin: 10px 0 20px 0;
}

.company-section .catch-copy {
  font-size: 32px;
  line-height: 1.8em;
  -webkit-text-decoration: underline 8px;
          text-decoration: underline 8px;
  text-underline-offset: -5px;
  -webkit-text-decoration-color: yellow;
          text-decoration-color: yellow;
}

.company-section .heading-note {
  margin: 39px auto 55px auto;
  font-size: 14px;
  line-height: 1.8em;
  max-width: 265px;
}

.company-section .company-more {
  text-decoration: none;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#7633A4), to(#250D65));
  background: linear-gradient(to right, #7633A4, #250D65);
  padding: 21px 75px;
  border-radius: 10em;
  font-weight: bold;
  display: block;
  width: 50px;
  margin: 25px auto;
}

.company-section .company-more:hover {
  opacity: 0.9;
}

.company-section .company-more:active {
  position: relative;
  top: 3px;
}

.company-section .company-container4 {
  max-width: 630px;
  width: 90%;
  margin: 0 auto 142px auto;
}

.company-section .company-container4 img {
  width: 100%;
  margin-bottom: 30px;
}

.company-section .company-container4 p {
  font-size: 14px;
  line-height: 1.5em;
  margin-bottom: 30px;
}

.company-section .company-container5 {
  max-width: 700px;
  margin: 0 auto;
}

.company-section .company-container5 .heading-title {
  font-size: 30px;
  color: #391E88;
  padding-top: 40px;
  font-weight: bold;
  text-align: center;
}

.company-section .company-container5 .company-about {
  width: 90%;
  margin: 50px auto 50px auto;
}

.company-section .company-container5 .company-about .company-item1, .company-section .company-container5 .company-about .company-item2, .company-section .company-container5 .company-about .company-item3, .company-section .company-container5 .company-about .company-item4, .company-section .company-container5 .company-about .company-item5 {
  border-bottom: solid 1px #B8AED5;
}

.company-section .company-container5 .company-about .company-item1 dd, .company-section .company-container5 .company-about .company-item2 dd, .company-section .company-container5 .company-about .company-item3 dd, .company-section .company-container5 .company-about .company-item4 dd, .company-section .company-container5 .company-about .company-item5 dd {
  padding: 10px 0 15px 0;
}

.company-section .company-container5 .company-about .company-item1 dt, .company-section .company-container5 .company-about .company-item2 dt, .company-section .company-container5 .company-about .company-item3 dt, .company-section .company-container5 .company-about .company-item4 dt, .company-section .company-container5 .company-about .company-item5 dt {
  margin-top: 15px;
}

.company-section .company-container6 {
  max-width: 630px;
  width: 90%;
  margin: 0 auto;
}

.company-section .company-container6 iframe {
  width: 100%;
  margin-bottom: 10px;
}

.company-section .company-container6 a {
  text-decoration: none;
  font-size: 14px;
}

.contact-section {
  background-color: #F7F7F7;
  height: 334px;
  margin-top: 80px;
}

.contact-section .heading-title {
  padding-top: 60px;
}

.contact-section .heading-note {
  font-size: 14px;
  line-height: 1.8em;
}

.contact-section .contact-more {
  text-decoration: none;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#7633A4), to(#250D65));
  background: linear-gradient(to right, #7633A4, #250D65);
  padding: 21px 75px;
  border-radius: 10em;
  font-weight: bold;
  display: block;
  width: 50px;
  margin: 25px auto;
}

.contact-section .contact-more:hover {
  opacity: 0.9;
}

.contact-section .contact-more:active {
  position: relative;
  top: 3px;
}

.footer {
  background-color: #120E19;
  height: 183px;
  text-align: center;
}

.footer .footer-list1 {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 20px 0;
}

.footer .footer-item:hover {
  text-decoration: underline;
}

.footer .footer-list2 {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer small {
  color: #A798B7;
  font-size: 10px;
}

@media (min-width: 1150px) {
  .header {
    height: 240px;
  }
  .header .header-nav {
    display: block;
  }
  .header .header-nav .nav-list {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    font-size: 15px;
    top: 20px;
    right: 30px;
  }
  .header .header-nav .nav-item:hover {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
  }
  .header .header-nav a {
    text-decoration: none;
    color: white;
  }
  .header .title {
    max-width: 952px;
    text-align: center;
  }
  .header .title .title-tx {
    padding-top: 60px;
    font-size: 36px;
  }
  .header .title .title-lead {
    max-width: 400px;
    margin: 0 auto 47px auto;
    font-size: 14px;
  }
  .header .btn-contact {
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  .company-section {
    max-width: 1150px;
    margin: 0 auto;
    max-width: 1300px;
  }
  .company-section .company-section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 0 auto;
  }
  .company-section .company-section2 .company-container1 {
    display: block;
    width: 300px;
    margin: 30px auto 0 auto;
    line-height: 6em;
  }
  .company-section .company-section2 .company-img2, .company-section .company-section2 .company-img3 {
    float: right;
  }
  .company-section .company-section2 .company-container2 {
    padding-top: 100px;
  }
  .company-section .company-section2 .company-container2 .catch-copy .br-sp {
    display: none;
  }
  .company-section .company-section2 .company-container2 .heading-note {
    max-width: 400px;
    margin: 20px auto 50px auto;
  }
  .company-section .company-section2 .company-container2 .heading-note .br-sp {
    display: none;
  }
  .company-section .company-section2 .company-container3 {
    display: block;
    margin: 30px auto 0 auto;
    width: 300px;
  }
  .company-section .company-section2 .company-img3 {
    margin-bottom: 40px;
  }
  .company-section .company-section2 .heading-title {
    margin-top: 0;
    padding-top: 0;
    font-size: 32px;
  }
  .company-section .company-section2 .heading-lead {
    font-size: 14px;
  }
  .company-section .company-container4 {
    width: 80%;
    max-width: 1100px;
    margin: 50px auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
  .company-section .company-container4 img {
    width: 40%;
    height: 40%;
    margin-right: 50px;
  }
  .company-section .company-container4 p {
    font-size: 15px;
  }
  .company-section .company-container5 {
    max-width: 1100px;
  }
  .company-section .company-container5 .heading-title {
    padding-top: 100px;
  }
  .company-section .company-container5 .company-about .company-item1, .company-section .company-container5 .company-about .company-item2, .company-section .company-container5 .company-about .company-item3, .company-section .company-container5 .company-about .company-item4, .company-section .company-container5 .company-about .company-item5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 30px 30px;
    font-size: 15px;
    border-bottom: 1px solid #DDDDDD;
  }
  .company-section .company-container5 .company-about .company-item1 dd, .company-section .company-container5 .company-about .company-item2 dd, .company-section .company-container5 .company-about .company-item3 dd, .company-section .company-container5 .company-about .company-item4 dd, .company-section .company-container5 .company-about .company-item5 dd {
    padding: 0;
    margin: 30px 0 0 0;
  }
  .company-section .company-container5 .company-about .company-item1 dt, .company-section .company-container5 .company-about .company-item2 dt, .company-section .company-container5 .company-about .company-item3 dt, .company-section .company-container5 .company-about .company-item4 dt, .company-section .company-container5 .company-about .company-item5 dt {
    margin: 30px 140px 0 0;
  }
  .company-section .company-container5 .company-about .company-item3 dt {
    margin-right: 96px;
  }
  .company-section .company-container5 .company-about .company-item4 dt, .company-section .company-container5 .company-about .company-item5 dt {
    margin-right: 127px;
  }
  .company-section .company-container6 {
    width: 80%;
    max-width: 1200px;
  }
  .company-section .company-container6 a {
    font-size: 16px;
  }
}

@media (min-width: 1150px) {
  .contact-section .br-sp {
    display: none;
  }
  .contact-section .heading-title {
    font-size: 36px;
  }
  .contact-section .heading-lead {
    font-size: 14px;
  }
}

@media (min-width: 1150px) {
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-section .footer-list1 {
    font-size: 14px;
    width: 315px;
    margin-right: 0;
  }
  .footer-section .footer-list1 .br-sp {
    display: none;
  }
  .footer-section .footer-list1 .footer-item {
    margin: 0 20px;
  }
  .footer-section .footer-list2 {
    font-size: 14px;
    width: 315px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
    margin-left: 0;
  }
  .footer-section .footer-list2 .footer-item {
    margin: 0 20px;
  }
}

.pagetop a {
  display: none;
}

@media (min-width: 1150px) {
  .pagetop {
    position: fixed;
    bottom: 30px;
    right: 15px;
  }
  .pagetop a {
    display: block;
    background-color: #391E88;
    text-align: center;
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 50%;
    font-weight: bold;
  }
  .pagetop a:hover {
    opacity: 0.8;
  }
}
/*# sourceMappingURL=company.css.map */