@charset "UTF-8";
.header-nav {
  display: none;
}

.header {
  background-image: url("/images/SP-TOP/hero@2x.jpg");
  background-size: cover;
  height: 190px;
}

.header .header-top {
  color: white;
  display: block;
  width: 130px;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0 0 15px;
  text-decoration: none;
}

.header .header-top:hover {
  opacity: 0.8;
}

.header .header-active {
  display: none;
}

.header .header-img-active {
  display: none;
}

.header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  background: #fff;
}

.header .drawer {
  /* ハンバーガーアイコンの設置スペース */
  /* ハンバーガーメニューのアイコン */
  /* 三本線のうち一番上の棒の位置調整 */
  /* 三本線のうち一番下の棒の位置調整 */
  /* アイコンがクリックされたら真ん中の線を透明にする */
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  /* メニューのデザイン*/
  /* アイコンがクリックされたらメニューを表示 */
}

.header .drawer .drawer-hidden {
  display: none;
}

.header .drawer .drawer-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 100;
  /* 重なり順を一番上に */
  cursor: pointer;
}

.header .drawer .drawer-open span,
.header .drawer .drawer-open span:before,
.header .drawer .drawer-open span:after {
  content: '';
  display: block;
  height: 2px;
  width: 30px;
  border-radius: 3px;
  background: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
}

@media (min-width: 1025px) {
  .header .drawer .drawer-content {
    display: none;
  }
  .header .drawer .drawer-open {
    display: none;
  }
}

.header .drawer .drawer-open span:before {
  bottom: 8px;
}

.header .drawer .drawer-open span:after {
  top: 8px;
}

.header .drawer #drawer-check:checked ~ .drawer-open span {
  background: rgba(255, 255, 255, 0);
}

.header .drawer #drawer-check:checked ~ .drawer-open span::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .drawer #drawer-check:checked ~ .drawer-open span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .drawer .drawer-content {
  width: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /* メニューを画面の外に飛ばす */
  z-index: 99;
  -webkit-transition: .5s;
  transition: .5s;
  height: 812px;
  background-image: url(/images/SP-TOP/backimg-menu@2x.png);
  background-size: 120%;
}

.header .drawer .drawer-content .drawer-list {
  width: 100%;
  position: absolute;
  top: 30%;
  line-height: 2.5em;
  text-align: center;
}

.header .drawer .drawer-content .drawer-item:hover {
  text-decoration: underline;
}

.header .drawer .drawer-content a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.header .drawer #drawer-check:checked ~ .drawer-content {
  left: 0;
  /* メニューを画面に入れる */
}

.fadein {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.title {
  max-width: 290px;
  width: 80%;
  height: 152px;
  margin: 0 auto;
  text-align: center;
}

.title .title-tx {
  font-size: 30px;
  color: white;
  line-height: 1.5em;
  font-weight: bold;
  padding-top: 45px;
}

.title .title-lead {
  font-size: 13px;
  line-height: 2em;
  margin: 0 auto;
  max-width: 150px;
  color: white;
}

.title .btn-contact {
  max-width: 71px;
  color: white;
  font-size: 15px;
  border: solid 1px white;
  border-radius: 2em;
  padding: 20px 70px;
}

.title .btn-contact a {
  text-decoration: none;
  color: white;
}

.title .btn-contact:hover {
  opacity: 0.8;
}

.title .scroll {
  font-size: 12px;
  color: white;
  position: absolute;
  top: 700px;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  letter-spacing: 0.2em;
}

.title .border {
  width: 60px;
  border: solid 1px white;
  position: absolute;
  top: 5px;
  bottom: 30px;
  left: 74px;
}

.heading {
  text-align: center;
}

.heading .heading-title {
  font-size: 30px;
  color: #391E88;
  padding-top: 40px;
  font-weight: bold;
}

.heading .heading-lead {
  color: #391E88;
  font-size: 13px;
  margin: 8px 0 28px 0;
}

.contact-section {
  max-width: 630px;
  margin: 0 auto;
}

.contact-section .contact-tx {
  font-size: 14px;
  text-align: center;
  width: 284px;
  margin: 37px auto 28px auto;
  line-height: 1.5em;
}

.contact-section .contact-textarea {
  display: none;
}

.contact-section .contact-container {
  background-color: #F7F7F7;
  width: 90%;
  margin: 0 auto 40px auto;
  padding-bottom: 50px;
}

.contact-section .contact-container .contact-item1 label {
  display: block;
  margin-left: 30px;
  line-height: 1.8em;
  font-size: 13px;
}

.contact-section .contact-container .contact-item1 input {
  margin-right: 10px;
}

.contact-section .contact-container .contact-item2 input {
  margin-left: 30px;
  width: 80%;
  height: 40px;
}

.contact-section .contact-container .contact-item5 span {
  color: black;
}

.contact-section .contact-container .contact-item5 .contact-input {
  width: 60%;
}

.contact-section .contact-lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  padding: 27px 0 13px 30px;
}

.contact-section .contact-lead p {
  font-size: 12px;
  color: #391E88;
  margin-left: 20px;
}

.contact-section .contact-item7 .contact-lead {
  display: block;
}

.contact-section .contact-item7 span {
  font-size: 12px;
  color: #391E88;
}

.contact-section .contact-item7 select {
  width: 60%;
  height: 40px;
  border: 1px solid #AAAAAA;
  border-radius: 8px;
  margin-left: 30px;
  padding-left: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contact-section .contact-item7 select::-ms-expand {
  display: none;
}

.contact-section .contact-input {
  border: 1px solid #AAAAAA;
  border-radius: 8px;
  margin-left: 30px;
  width: 80%;
  height: 40px;
}

.contact-section .send-btn {
  text-decoration: none;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#7633A4), to(#250D65));
  background: linear-gradient(to right, #7633A4, #250D65);
  padding: 21px 75px;
  border-radius: 10em;
  display: block;
  width: 100%;
  margin: 50px auto 0 auto;
  max-width: 205px;
}

.contact-section .send-btn:hover {
  opacity: 0.9;
}

.contact-section .send-btn:active {
  position: relative;
  top: 3px;
}

.site-nav {
  height: 25px;
  line-height: 2.5em;
  background-color: #F7F7F7;
  padding-left: 20px;
  font-size: 11px;
}

.site-nav a {
  text-decoration: none;
  color: black;
}

.site-nav span {
  color: #391E88;
}

.slider {
  padding-top: 60px;
  margin: 0 auto;
  z-index: 50;
}

.slider .img-slide {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.slider .slick-dots {
  position: absolute;
  right: -38%;
}

.slider li {
  margin: 0;
}

.slider .slick-prev, .slider .slick-prev:before, .slider .slick-next:before {
  display: none;
}

.footer {
  background-color: #120E19;
  height: 183px;
  text-align: center;
}

.footer .footer-list1 {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0 20px 0;
}

.footer .footer-item:hover {
  text-decoration: underline;
}

.footer .footer-list2 {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer small {
  color: #A798B7;
  font-size: 10px;
}

@media (min-width: 1150px) {
  .header {
    height: 240px;
  }
  .header .header-nav {
    display: block;
  }
  .header .header-nav .nav-list {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: absolute;
    font-size: 15px;
    top: 20px;
    right: 30px;
  }
  .header .header-nav .nav-item:hover {
    border-bottom: 1px solid white;
    padding-bottom: 5px;
  }
  .header .header-nav a {
    text-decoration: none;
    color: white;
  }
  .header .title {
    max-width: 952px;
    text-align: center;
  }
  .header .title .title-tx {
    padding-top: 60px;
    font-size: 36px;
  }
  .header .title .title-lead {
    max-width: 400px;
    margin: 0 auto 47px auto;
    font-size: 14px;
  }
  .header .btn-contact {
    margin: 0 auto;
  }
}

@media (min-width: 1150px) {
  .contact-section {
    width: 90%;
    max-width: 1200px;
  }
  .contact-section .contact-tx {
    width: 550px;
    font-size: 16px;
  }
  .contact-section .contact-container .contact-item1 label {
    display: inline;
  }
  .contact-section .contact-container .contact-lead {
    font-size: 16px;
  }
  .contact-section .contact-item2, .contact-section .contact-item3, .contact-section .contact-item4 {
    width: 35%;
  }
  .contact-section .contact-item5 {
    width: 32%;
  }
  .contact-section .contact-item6 .contact-input {
    display: none;
  }
  .contact-section .contact-item6 .contact-textarea {
    display: block;
    height: 255px;
    width: 70%;
    border: 1px solid #AAAAAA;
    border-radius: 8px;
    margin-left: 30px;
  }
  .contact-section .contact-item7 {
    width: 40%;
  }
  .contact-section .contact-item7 .contact-lead {
    width: 500px;
  }
}

@media (min-width: 1150px) {
  .footer-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-section .footer-list1 {
    font-size: 14px;
    width: 315px;
    margin-right: 0;
  }
  .footer-section .footer-list1 .br-sp {
    display: none;
  }
  .footer-section .footer-list1 .footer-item {
    margin: 0 20px;
  }
  .footer-section .footer-list2 {
    font-size: 14px;
    width: 315px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 60px;
    margin-left: 0;
  }
  .footer-section .footer-list2 .footer-item {
    margin: 0 20px;
  }
}

.pagetop a {
  display: none;
}

@media (min-width: 1150px) {
  .pagetop {
    position: fixed;
    bottom: 30px;
    right: 15px;
  }
  .pagetop a {
    display: block;
    background-color: #391E88;
    text-align: center;
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 50%;
    font-weight: bold;
  }
  .pagetop a:hover {
    opacity: 0.8;
  }
}
/*# sourceMappingURL=contact.css.map */