// header
.header-nav {
  display: none;
}
.header {
    background-image: url('/images/SP-TOP/hero@2x.jpg');
    background-size: cover;
    height: 812px;
  
      .header-top {
          color: white;
          display: block;
          width: 130px;
          font-size: 18px;
          font-weight: bold;
          padding: 20px 0 0 15px;
          text-decoration: none;
      }
  
      .header-top:hover {
        opacity: 0.8;
      }
  
      .header-active {
          display: none;
      }    
  
      .header-img-active {
        display: none;
      }
  
      .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background: #fff;
      }
  
      // ハンバーガーメニュー
    .drawer {
    .drawer-hidden {
      display: none;
    }
  
    /* ハンバーガーアイコンの設置スペース */
    .drawer-open {
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0px;
      right: 20px;
      z-index: 100;/* 重なり順を一番上に */
      cursor: pointer;
    }
    
    /* ハンバーガーメニューのアイコン */
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
      content: '';
      display: block;
      height: 2px;
      width: 30px;
      border-radius: 3px;
      background: white;
      transition: 0.5s;
      position: absolute;
    }

    @media (min-width: 1025px) {
      .drawer-content {
        display: none;
      }
      .drawer-open {
        display: none;
      }
    }
    
    /* 三本線のうち一番上の棒の位置調整 */
    .drawer-open span:before {
      bottom: 8px;
    }
    
    /* 三本線のうち一番下の棒の位置調整 */
    .drawer-open span:after {
      top: 8px;
    }
    
    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer-check:checked ~ .drawer-open span {
      background: rgba(255, 255, 255, 0);
    }
    
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer-check:checked ~ .drawer-open span::before {
      bottom: 0;
      transform: rotate(45deg);
    }
    
    #drawer-check:checked ~ .drawer-open span::after {
      top: 0;
      transform: rotate(-45deg);
    }
      
    /* メニューのデザイン*/
    .drawer-content {
      width: 72.47%;
      position: fixed;
      top: 0;
      left: 100%;/* メニューを画面の外に飛ばす */
      z-index: 99;
      transition: .5s;
      height: 812px;
      background-image: url(/images/SP-TOP/backimg-menu@2x.png);
      background-size: 120%;
  
          .drawer-list {
            width: 100%;
              position: absolute;
              top: 30%;
              line-height: 2.5em;
              text-align: center;
          }
          .drawer-item:hover {
            text-decoration: underline;
          }
          a {
              text-decoration: none;
              color: white;
              font-weight: bold;
              font-size: 14px;
          }
    }
    
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer-check:checked ~ .drawer-content {
      left: 0;/* メニューを画面に入れる */
    }
      }
  }
    
// トップセクション
  .title {
      max-width: 290px;
      width: 80%;
      height: 600px;
      margin: 0 auto;

        .title-tx {
        font-size: 46px;
        color: white; 
        line-height: 1.5em;
        font-weight: bold;
        padding: 175px 0 20px 0;
        }
    
        .title-lead {
        font-size: 16px;
        line-height: 2em;
        margin-bottom: 47px;
        max-width: 150px;
        color: white;
        }
    
        .btn-contact {
        max-width: 71px;
        color: white;
        font-size: 15px;
        border: solid 1px white;
        border-radius: 2em;
        padding: 20px 70px;
        & a {
          text-decoration: none;
          color: white;
        }
        }
    
        .btn-contact:hover {
        opacity: 0.8;
        }
    
        .scroll {
        font-size: 12px;
        color: white;
        position: absolute;
        top: 700px;
        right: 0;
        transform: rotate(90deg);
        letter-spacing: 0.2em;
        }
    
        .border {
        width: 60px;
        border: solid 1px white;
        position: absolute;
        top: 5px;
        bottom: 30px;
        left: 74px;
        }
  }
  
// 見出し
.heading {
  text-align: center;
  .heading-title {
    font-size: 30px;
    color: #391E88;
    padding-top: 40px;
    font-weight: bold;
  }
  .heading-lead {
    color: #391E88;
    font-size: 13px;
    margin: 8px 0 28px 0;
  }
}

// NEWS
.item-list{
  width: 90%;
  margin: 0 auto;
  padding-bottom: 35px;
  .item-time {
    width: 210px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    letter-spacing: 1.5px;
    span {
      padding: 0 12px;
    }
  }
  .item-deta {
    font-size: 11px;
    background-color: #E8E8E8;
    padding: 4px 21px;
    border-radius: 10em;
  }
  .item-note {
    font-size: 14px;
    line-height: 2em;
  }
}

// SERVICE
.service-section {
  text-align: center;
  .service-container2 {
    .service1, .service2, .service3 {
      width: 90%;
    }
    .heading-tx {
      font-size: 18px;
      font-weight: bold;
      margin: 15px 0 10px 0;
    }
    p {
      margin: 0 auto;
      width: 90%;
      font-size: 14px;
      text-align: start;
      line-height: 1.5em;
      padding-bottom: 60px;
    }
  }
  .service-more {
    display: none;
  }
}

// slider
.slider {
  padding-top: 60px;
  margin: 0 auto;
  z-index: 50;
  .img-slide {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }
  .slick-dots {
    position: absolute;
    right: -38%;
  }
  & li {
    margin: 0;
  }
  .slick-prev, .slick-prev:before, .slick-next:before {
    display: none;
  }
}

// MOREボタン
@mixin more-btn {
  text-decoration: none;
  color: white;
  background: linear-gradient(to right, #7633A4, #250D65);
  padding: 21px 75px;
  border-radius: 10em;
  font-weight: bold;
  display: block;
  width: 50px;
  margin: 25px auto;
}

// WORKS
.works-container2 {
  background-color: #F0F0F0;
  height: 430px;
  position: relative;
  top: -130px;
  margin-bottom: -130px;
  .heading {
    padding-top: 116px;
  }
  .heading-note {
    font-size: 14px;
    line-height: 1.8em;
  }
  .works-more {
    @include more-btn;
  }
  .works-more:hover {
    opacity: 0.9;
  }
  .works-more:active {
    position: relative;
    top: 3px;
  }
}

// COMPANY
.company-section {
  background-image: url(/images/SP-TOP/cirlcles@2x.jpg);
  .company-container1 {
    display: none;
  }
  .company-container3 {
    display: none;
  }
  .heading-title {
    margin-top: 40px;
  }
  .catch-copy {
    font-size: 32px;
    line-height: 1.8em;
    text-decoration: underline 8px;
    text-underline-offset: -5px;
    text-decoration-color: yellow;
  }
  .heading-note {
    margin: 39px auto 0 auto;
    font-size: 14px;
    line-height: 1.8em;
    max-width: 265px;
  }
  .company-more {
    @include more-btn;
  }
  .company-more:hover {
    opacity: 0.9;
  }
  .company-more:active {
    position: relative;
    top: 3px;
  }
}

// RECRUIT
.recruit-section {
  background-color: #F7F7F7;
  margin: 100px 0 80px 0;
  padding-bottom: 50px;
  .img {
    width: 100%;
  }
  .heading-title {
    padding-top: 60px;
  }
  .recruit-more {
    @include more-btn;
  }
  .recruit-more:hover {
    opacity: 0.9;
  }
  .recruit-more:active {
    position: relative;
    top: 3px;
  }
}

// CONTACT
.contact-section {
  background-color: #F7F7F7;
  height: 334px;
  .heading-title {
    padding-top: 60px;
  }
  .heading-note {
    font-size: 14px;
    line-height: 1.8em;
  }
  .contact-more {
    @include more-btn;
  }
  .contact-more:hover {
    opacity: 0.9;
  }
  .contact-more:active {
    position: relative;
    top: 3px;
  }
}

// footer
.footer {
  background-color: #120E19;
  height: 183px;
  text-align: center;
  .footer-list1 {
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 60px 0 20px 0;
  }
  .footer-item:hover {
    text-decoration: underline;
  }
  .footer-list2 {
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  small {
    color: #A798B7;
    font-size: 10px;
  }
}



// レスポンシブ(PC)

// トップセクション
@media (min-width: 1150px) {
  .header-nav {
    display: block;
    .nav-list {
      width: 45%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      font-size: 15px;
      top: 20px;
      right: 30px;
    }
    .nav-item:hover {
      border-bottom: 1px solid white;
      padding-bottom: 5px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  .title {
    max-width: 952px;
    text-align: center;
    .title-tx {
      padding-top: 250px;
    }
    .title-lead {
      max-width: 400px;
      margin: 0 auto 47px auto;
      font-size: 20px;
    }
  }
  .btn-contact {
    margin: 0 auto;
  }
}

// NEWS
@media (min-width: 1150px) {
  .news-section {
    display: flex;
    max-width: 1150px; 
    width: 80%;
    margin: 0 auto;
    padding-top: 74px;
    .news-container1 {
      .heading {
        & h2 {
          font-size: 36px;
        }
        & p {
          font-size: 14px;
        }
      }
    }
      .news-container2 {
        width: 90%;
      } 

      .item-time {
        line-height: 1.6em;
        margin-right: 5px;
      }
      .item-list {
        display: flex;
        margin-right: 0;
      }
      .item-deta {
        font-size: 12px;
        font-weight: bold;
        line-height: 1.5em;
      }
      .item-note {
        margin-left: 20px;
      }
      .heading-title {
        padding-top: 0;
        line-height: 1.5em;
      }
      .heading-lead {
        text-align: start;
        margin-left: 4px;
      }
  }
}

// SERVICE
@media (min-width: 1150px) {
  .service-section {
    max-width: 1150px;
    margin: 0 auto;
    .service-container1 {
      .heading {
        .heading-title {
          padding-top: 100px;
          font-size: 36px;
        }
        .heading-lead {
          font-size: 14px;
        }
      }
    }
    .service-container2 {
      display: flex;
      .service-section {
        & p {
          line-height: 1.8em;
        }
      }
      .service2 {
        width: 356px;
        height: 223px;
      }
      .heading-tx {
        margin: 22px 0 17px 0;
      }  
    }
    .service-more {
      display: block;
      @include more-btn;
      margin-top: 0;
    } 
    .service-more:hover {
      opacity: 0.9;
    }
    .service-more:active {
      position: relative;
      top: 3px;
    }  
  }
}

// WORKS
@media (min-width: 1150px) {
  .works-section {
    display: flex;
    max-width: 1035px;
    width: 90%;
    height: 550px;
    margin: 140px auto 0 auto;
    position: relative;
    .works-container1 {
      width: 100%;
    }
    .slider {
      max-width: 650px;
      max-height: 410px;
      width: 100%;
      float: left;
      .img-slide {
        margin: 0;
      }
      .slick-dots {
        position: relative;
        top: 10px;
        left: 230px;
      }
    }
    .works-container2 {
      max-width: 737px;
      max-height: 550px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: -15px;
      right: 0;
      .heading {
      width: 320px;
      padding: 130px 0 0 350px;
      }
      .heading-title {
        font-size: 36px;
      }
      .heading-lead {
        font-size: 14px;
      }
      .heading-note {
        font-size: 15px;
      }
    }
  }
}

// COMPANY
@media (min-width: 1150px) {
  .company-section {
    max-width: 1150px;
    display: flex;
    padding-top: 204px;
    margin: 0 auto;
    .company-container1 {
      display: block;
      width: 300px;
      margin: 0 auto;
      line-height: 10em;
    }
    .company-img2, .company-img3 {
      float: right;
    }
    .company-container2 {
      .catch-copy {
        .br-sp {
          display: none;
        }
      }
      .heading-note {
        max-width: 400px;
        margin-bottom: 50px;
        .br-sp {
          display: none;
        }
      }
    }
    .company-container3 {
      display: block;
      margin: 0 auto;
      width: 300px;
    }
    .company-img3 {
      margin-bottom: 75px;
    }
    .heading-title {
      margin-top: 0;
      padding-top: 0;
      font-size: 36px;
    }
    .heading-lead {
      font-size: 14px;
    }
  }
}

// RECRUIT
@media (min-width: 1150px) {
  .recruit-section {
    max-width: 1150px;
    width: 80%;
    height: 340px;
    margin: 100px auto 80px auto;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
    .img {
      width: 60%;
    }
    .heading {
      padding: 20px 80px 0 0;
      .heading-title {
        font-size: 36px;
      }
      .heading-lead {
        font-size: 14px;
      }
    }
  }
}

// CONTACT
@media (min-width: 1150px) {
  .contact-section {
    .br-sp {
      display: none;
    }
    .heading-title {
      font-size: 36px;
    }
    .heading-lead {
      font-size: 14px;
    }
  }
}

// footer
@media (min-width: 1150px) {
  .footer-section {
    display: flex;
    .footer-list1 {
      font-size: 14px;
      width: 315px;
      margin-right: 0;
      .br-sp {
        display: none;
      }
      .footer-item {
        margin: 0 20px;
      }
    }
    .footer-list2 {
      font-size: 14px;
      width: 315px;
      justify-content: center;
      padding-top: 60px;
      margin-left: 0;
      .footer-item {
        margin: 0 20px;
      }
    }
  }
}

// トップに戻る
.pagetop {
    & a {
    display: none;
  }
}
@media (min-width: 1150px) {
  .pagetop {
    position: fixed;
    bottom: 30px;
    right: 15px;
  }
  .pagetop a {
    display: block;
    background-color: #391E88;
    text-align: center;
    color: white;
    font-size: 12px;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 50%;
    font-weight: bold;
  }
  .pagetop a:hover {
  opacity: 0.8;
  }
}